<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Luis Rosales</h2>
            <h4>luis_03_10@gmail.com</h4>
        </div>
        <!-- <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL"> -->
        <img src="/assets/profile/img_perfil2.jpg" alt="image">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Módulos</h2>

    <mat-nav-list *ngFor="let menuItem of menuItems">
        <a mat-list-item [routerLink]="[menuItem.path]" routerLinkActive="active-list-item" class="{{menuItem.class}}" [routerLinkActiveOptions]="{exact: true}">
            <h2 matLine>{{menuItem.title}}</h2>
            <mat-icon matListIcon>{{menuItem.icon}}</mat-icon>
        </a>
    </mat-nav-list>
    
</mat-nav-list>